## Deliverable 2. Create a Customer Travel Destinations Map.

In [155]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [156]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Barrow,US,71.2906,-156.7887,28.42,86,90,20.71
1,1,Usinsk,RU,65.9939,57.5281,10.54,83,97,11.74
2,2,Souillac,MU,-20.5167,57.5167,73.78,78,75,3.44
3,3,Caiaponia,BR,-16.9567,-51.8103,80.58,62,93,1.39
4,4,Mataura,NZ,-46.1927,168.8643,38.84,88,87,2.30

In [157]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [158]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Caiaponia,BR,-16.9567,-51.8103,80.58,62,93,1.39
5,5,Ratnagiri,IN,16.9833,73.3000,79.81,73,50,4.41
7,7,San Cristobal,VE,7.7669,-72.2250,77.18,64,85,3.27
9,9,Makakilo City,US,21.3469,-158.0858,75.29,72,1,3.44
19,19,Gigmoto,PH,13.7796,124.3900,80.58,78,55,11.03
20,20,Mitu,CO,1.1983,-70.1733,79.92,94,97,2.51
29,29,Kasama,ZM,-10.2129,31.1808,78.51,40,40,6.11
30,30,Arlit,NE,18.7369,7.3853,89.01,14,25,13.60
32,32,North Myrtle Beach,US,33.8160,-78.6800,75.09,61,1,1.01
35,35,Georgetown,MY,5.4112,100.3354,79.90,89,20,2.30

In [159]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       555
City          555
Country       549
Lat           555
Lng           555
Max Temp      555
Humidity      555
Cloudiness    555
Wind Speed    555
dtype: int64

In [160]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Caiaponia,BR,-16.9567,-51.8103,80.58,62,93,1.39
5,5,Ratnagiri,IN,16.9833,73.3000,79.81,73,50,4.41
7,7,San Cristobal,VE,7.7669,-72.2250,77.18,64,85,3.27
9,9,Makakilo City,US,21.3469,-158.0858,75.29,72,1,3.44
19,19,Gigmoto,PH,13.7796,124.3900,80.58,78,55,11.03
20,20,Mitu,CO,1.1983,-70.1733,79.92,94,97,2.51
29,29,Kasama,ZM,-10.2129,31.1808,78.51,40,40,6.11
30,30,Arlit,NE,18.7369,7.3853,89.01,14,25,13.60
32,32,North Myrtle Beach,US,33.8160,-78.6800,75.09,61,1,1.01
35,35,Georgetown,MY,5.4112,100.3354,79.90,89,20,2.30

In [164]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_df = hotel_df
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
3,3,Caiaponia,BR,-16.9567,-51.8103,80.58,62,93,1.39,
5,5,Ratnagiri,IN,16.9833,73.3000,79.81,73,50,4.41,
7,7,San Cristobal,VE,7.7669,-72.2250,77.18,64,85,3.27,
9,9,Makakilo City,US,21.3469,-158.0858,75.29,72,1,3.44,
19,19,Gigmoto,PH,13.7796,124.3900,80.58,78,55,11.03,
20,20,Mitu,CO,1.1983,-70.1733,79.92,94,97,2.51,
29,29,Kasama,ZM,-10.2129,31.1808,78.51,40,40,6.11,
30,30,Arlit,NE,18.7369,7.3853,89.01,14,25,13.60,
32,32,North Myrtle Beach,US,33.8160,-78.6800,75.09,61,1,1.01,
35,35,Georgetown,MY,5.4112,100.3354,79.90,89,20,2.30,

In [165]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [168]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(5)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
3,3,Caiaponia,BR,-16.9567,-51.8103,80.58,62,93,1.39,HOTEL PALACE AVENIDA & CAIAPÓ TURISMO
5,5,Ratnagiri,IN,16.9833,73.3000,79.81,73,50,4.41,Hotel Landmark
7,7,San Cristobal,VE,7.7669,-72.2250,77.18,64,85,3.27,Posada Villaven C.A.
9,9,Makakilo City,US,21.3469,-158.0858,75.29,72,1,3.44,Marriott's Ko Olina Beach Club
19,19,Gigmoto,PH,13.7796,124.3900,80.58,78,55,11.03,Cj's Travellers Inn

In [169]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [170]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [173]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#END!